*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container-fluid{
    --bs-gutter-x: 0!important;
}

.nav-section {
    display: flex;
    justify-content: center;
   
}
.nav-section-inner{
    /* display: flex;
    justify-content: space-evenly; */
    display: none;
}
.nav-item{
    padding: 0 1rem;
}
.nav-register{
    display: flex;
    justify-content: end;

}

/* carousel section  */
#slider-section{
    width: 100%;
}
.carousel-inner{
    width: 100%;
    height: 80vh;
}
.carousel-item{
    width: 100%;
    
}
.slider-info{
    padding: 0 5vw;
}
.slider-section-inner{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    /* padding-top: 30vh; */
    padding: 30vh 2vw 0 2vw;
    


}
.corousel-inner-item-1{
    height: 100%;
    background: url(../images/cover/cover-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.corousel-inner-item-2{
    height: 100%;
    background: url(../images/cover/cover-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.corousel-inner-item-3{
    height: 100%;
    background: url(../images/cover/cover-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.corousel-item-overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(29,29,29,.5);

}
.slider-info>h2,h3, .slider-info-button {
    text-align: center;
    padding: 1vh 3vw;
    color: white;
    font-weight: bolder;

   
}
.slider-info>p{
    text-align: center;
    padding: 1vh 3vw;
    color: white;
    font-weight: bolder;

   
}

/* join section  */
#join-section{
    background-color: #289BDE;
    
}
.join-inner{
    padding: 5rem;
    display: flex;
    justify-content: space-around;
    
    
}
.join-inner-button {
    display: flex;
    justify-content:flex-end;
    align-items: center;

}



/* companies seciton starts here 
 */

/* footer section starts here 
 */
 #footer-section{
    /* height: 40vh; */
    width: 100%;
    background-color: rgb(21, 21, 21);;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;


 }
 
 .footer-section-inner> h3,p,a{
    color: white;
 }
 .footer-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .footer-terms{
    display: flex;
 }
 .footer-privacy{
    border-right: 1px solid white;
    padding-right: 2vw;

 }
 .footer-privacy::after{
    border-right: 1px solid green;
 }
 .footer-terms{
    padding-left: 2vw;
 }



 /* slider section 
  */

  /* #testimonial{
    height: 800px;
  } */
  .section-space{
    margin:3rem  0 60px 0;
}
  /* .carousel-inner {
    width: 100%;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
  }
  
  .carousel-item .card {
    flex: 0 0 50%; 
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;


  } */


  .carousel-control-prev-1{
    position: absolute;
    top: 20%;
    left: 0;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center; 
    z-index: 99;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    

   
  }
  
  .carousel-control-next-1{
  position: absolute;
    top:20%;
    right: 0;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center; 
    z-index: 99;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;

  }
  